* {
  font-family: "SUSE", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.head {
    font-size:20px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #1e9e60;
  color: white;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.post {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin-top: 0;
}

.metadata {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 10px;
}

.post-content {
  font-size: 1.1em;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* General Button Styling */
.nt-button {
    background-color: #1899ad;        /* Dark green background */
    color: #fff;                      /* White text */
    padding: 10px 20px;               /* Padding around the text */
    border: none;                     /* Remove default border */
    border-radius: 5px;               /* Slightly rounded corners */
    font-size: 16px;                  /* Font size */
    font-weight: 600;                 /* Semi-bold text */
    font-family: 'SUSE', sans-serif;  /* Consistent font with Newthings apps */
    cursor: pointer;                  /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  /* Hover Effect */
  .nt-button:hover {
    background-color: #137a84;        /* Slightly darker green on hover */
    transform: scale(1.07);           /* Small scaling effect */
    outline: none;                    /* Remove default focus outline */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
  }
  
  